/*
=============== 
Variables
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
#h3-title{
  font-family: 'poppins';
  font-weight: 600;
}
:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(162, 61%, 89%);
  --clr-primary-2: hsl(162, 60%, 78%);
  --clr-primary-3: hsl(162, 61%, 67%);
  --clr-primary-4: hsl(162, 61%, 57%);
  /* primary/main color */
  --clr-primary-5: hsl(162, 73%, 46%);
  /* lighter shades of primary color */
  --clr-primary-6: #1aa179;
  --clr-primary-7: #13795b;
  --clr-primary-8: #0d503c;
  --clr-primary-9: #06281e;
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(212, 33%, 89%);
  --clr-grey-2: hsl(210, 31%, 80%);
  --clr-grey-3: hsl(211, 27%, 70%);
  --clr-grey-4: hsl(209, 23%, 60%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 28%, 39%);
  --clr-grey-7: hsl(209, 34%, 30%);
  --clr-grey-8: hsl(211, 39%, 23%);
  --clr-grey-9: hsl(209, 61%, 16%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  --max-width: 1170px;
  --fixed-width: 450px;
  --clr-pink: #f28ab2;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: rgb(51, 45, 45);
  color: var(--clr-grey-9);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  #react-svg{
    position: absolute;
    width: 18%;
    top: 0%;
    height: 25%;
    left: -4%;
    animation: rotation 5s infinite linear;
  }
  #react-svg:hover{
  cursor: pointer;
  }
  article:hover{
    background: #181818;
    transition: 0.3s;
    color:white;
  
  }
  article{
    transition: 0.3s;
  }
  
  #list:hover{
    color: rgb(241, 240, 240);
    
  }

  #box-svg{
    left: 0%;
    top: 0%;
    width: 32%;
    height: 25%;
    background:rgb(3, 3, 3);
    /*border: 1px solid rgb(59, 58, 58);*/
    border: 1px solid grey;
    position: absolute;
    /*box-shadow: 0px 0px 10px 5px rgb(32, 32, 32);*/
    transition: 0.5s;
    border-radius: 0px;
  }
  #box-svg:hover{
    box-shadow: 0px 0px 0px 0px rgb(32, 32, 32);
    transition:0.5s;
  }
  /*Text Box*/
  #text-box-one{
    background-color: rgb(32, 32, 32);
    position: absolute;
    width: 32%;
    height: 105%;
    left: 0.1%;
    color: white;
    border: 1px solid rgb(56, 53, 53);
    top: 26%;
  }
#txt-title{
  font-size: 4.5vh;
  position: absolute;
  left: 30%;
  top: 5%;
}
#warenimg{
  position: absolute;
  width: 20%;
  height: 12%;
  border-radius: 5%;
}
#who{
  font-family:'poppins';
  background-color: rgb(20, 19, 19);
  position: absolute;
  top: 20%;
  border-radius: 5px;
  width: 90%;
  height: 32%;
  left: 5%;
  box-shadow: 0px 0px 10px 5px black;
}
#opensource-h1{
  font-size: 4.5vh;
  position: absolute;
  left: 30%;
  top: 62%;
}
#githubimg{
  position: absolute;
  width: 20%;
  height: 12%;
  border-radius: 10px;
  top: 58%;
}
#opensource{
  font-family:'poppins';
  background-color: rgb(20, 19, 19);
  position: absolute;
  top: 74%;
  border-radius: 5px;
  width: 90%;
  height: 23%;
  left: 5%;
  box-shadow: 0px 0px 10px 5px black;
}
  /*End of Text box*/
/*Top skills*/
.lang{
  width: 5%;
  height: 8%;
  top: 2.5%;
}
#box{
  width: 35%;
  height: 15%;
  padding: 20px;
  border: 1px solid rgb(26, 25, 25);
  background: rgb(29, 28, 28);
  position: absolute;
  top: 0%;
}
#html{
  left: 33%;
  position: absolute;
  top: 3%;
}
#css{
  left: 37%;
  position: absolute;
  top: 1%;
  width: 9%;
  height: 12%;
}
#js{
  left: 43%;
  position: absolute;
  top: 1.8%;
  width: 9%;
  height: 11%;
}
#react{
  left: 48.6%;
  position: absolute;
  top: 1%;
  width: 9%;
  height: 11%;
}
#vm{
  left: 62%;
  position: absolute;
  top: 3%;
}
#scss{
  left: 56%;
  position: absolute;
  top: 3%;
}
#vbox{
  display: none;
}
/*end of top skills*/


/*Side Main-Info*/
#main-info{
  background:rgb(20, 20, 20);
}
#group{
  position: absolute;
  left: 68%;
  top:0%;
  background: rgb(29, 28, 28);
  padding: 20px 25px;
  width: 31%;
  height: 15%;
  padding: 20px;
  text-align: center;
  border: 1px solid rgb(41, 40, 40);
  text-shadow: 0px 5px 1px rgb(10, 206, 206);

}
.dtitle{
  color: white;
}
#discord{
  position: absolute;
  height: 10%;
  width: 5%;
  left: 70%;
  top: 2%;
}
#first{
  position: absolute;
  left: 68%;
    background:rgb(20, 20, 20);
    width: 31%;
    height: 35%;
    top: 15.5%;
    border-radius: 10px;
}
#second{
    position: absolute;
      border-radius: 10px;
  left: 68%;
    background:rgb(20, 20, 20);
    width: 31%;
    height: 35%;
    top: 51.5%;
}
#third{
    position: absolute;
      border-radius: 10px;
  left: 68%;
    background:rgb(20, 20, 20);
    width: 31%;
    height: 35%;
    top: 88%;
}
.dtitle{
  text-align: center;
}
.pdiscord{
  color: white;
}
.discordp{
  font-family:'poppins';
  color: grey;
  background: black;
  border:none;
  border-radius: 10px;
  width: 95%;
  text-align: center;
}
#discordp1{
  position: absolute;
  left: 2%;
}
#discordp2{
  position: absolute;
  top: 20%;
  left: 2%;
}
#discordp3{
  position: absolute;
  top: 40%;
  left: 2%;
}
.discordl{
 padding: 10px 15px;
 color: white;
 background:#4CAF50;
 border: none;
 position: absolute;
}
#discordl1{
top: 80%;
left: 32%;
}
#discordl2{
  top: 80%;
left: 35%;
}
#discordl3{
  top: 80%;
left: 36%;
}
  a{
  color: white;
  }
/*End of side Main-Info*/

  /*Glitch text*/

  .glitch {
    color: white;
    font-size: 10vh;
    position: absolute;
    width: 20%;
top: 15%;
left: 35%;
    margin: 0 auto;
  }
  
  @keyframes noise-anim {
    0% {
      clip-path: inset(93% 0 1% 0);
    }
    5% {
      clip-path: inset(70% 0 6% 0);
    }
    10% {
      clip-path: inset(13% 0 12% 0);
    }
    15% {
      clip-path: inset(16% 0 20% 0);
    }
    20% {
      clip-path: inset(52% 0 2% 0);
    }
    25% {
      clip-path: inset(35% 0 45% 0);
    }
    30% {
      clip-path: inset(33% 0 34% 0);
    }
    35% {
      clip-path: inset(60% 0 10% 0);
    }
    40% {
      clip-path: inset(50% 0 50% 0);
    }
    45% {
      clip-path: inset(24% 0 65% 0);
    }
    50% {
      clip-path: inset(46% 0 34% 0);
    }
    55% {
      clip-path: inset(93% 0 1% 0);
    }
    60% {
      clip-path: inset(1% 0 97% 0);
    }
    65% {
      clip-path: inset(41% 0 56% 0);
    }
    70% {
      clip-path: inset(100% 0 1% 0);
    }
    75% {
      clip-path: inset(83% 0 7% 0);
    }
    80% {
      clip-path: inset(11% 0 63% 0);
    }
    85% {
      clip-path: inset(7% 0 45% 0);
    }
    90% {
      clip-path: inset(81% 0 7% 0);
    }
    95% {
      clip-path: inset(77% 0 14% 0);
    }
    100% {
      clip-path: inset(81% 0 4% 0);
    }
  }
  .glitch::after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 red;
    top: 0;
    color: white;
    background: black;
    overflow: hidden;
    animation: noise-anim 2s infinite linear alternate-reverse;
  }
  
  @keyframes noise-anim-2 {
    0% {
      clip-path: inset(84% 0 13% 0);
    }
    5% {
      clip-path: inset(8% 0 51% 0);
    }
    10% {
      clip-path: inset(71% 0 6% 0);
    }
    15% {
      clip-path: inset(37% 0 19% 0);
    }
    20% {
      clip-path: inset(56% 0 19% 0);
    }
    25% {
      clip-path: inset(21% 0 36% 0);
    }
    30% {
      clip-path: inset(81% 0 4% 0);
    }
    35% {
      clip-path: inset(15% 0 58% 0);
    }
    40% {
      clip-path: inset(90% 0 2% 0);
    }
    45% {
      clip-path: inset(19% 0 75% 0);
    }
    50% {
      clip-path: inset(5% 0 27% 0);
    }
    55% {
      clip-path: inset(75% 0 21% 0);
    }
    60% {
      clip-path: inset(37% 0 42% 0);
    }
    65% {
      clip-path: inset(53% 0 42% 0);
    }
    70% {
      clip-path: inset(37% 0 58% 0);
    }
    75% {
      clip-path: inset(59% 0 22% 0);
    }
    80% {
      clip-path: inset(53% 0 6% 0);
    }
    85% {
      clip-path: inset(45% 0 1% 0);
    }
    90% {
      clip-path: inset(51% 0 1% 0);
    }
    95% {
      clip-path: inset(62% 0 6% 0);
    }
    100% {
      clip-path: inset(72% 0 15% 0);
    }
  }
  .glitch::before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 blue;
    top: 0;
    color: white;
    background: black;
    overflow: hidden;
    animation: noise-anim-2 15s infinite linear alternate-reverse;
  }
  /*End of Glitch Text*/
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
 h2{
    color: white;
    position: absolute;
    left: 44%;
    top: 35%;
    letter-spacing: 1vh;
  }
}
/*  global classes */

/* section */
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
  
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
    
  }
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90vw;
  margin: 5rem 0;
  max-width: var(--fixed-width);
  background: rgb(228, 228, 228);
  border-radius: var(--radius);
  padding: 1.5rem 2rem;
  box-shadow: var(--dark-shadow);
  z-index:1;
  box-shadow: 0px 0px 20px 5px black;
 
}
.container h3 {
  font-weight: normal;
  text-transform: none;
  margin-bottom: 2rem;
}
.person {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.75rem;
  margin-bottom: 1.5rem;
  align-items: center;
}
.person img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: var(--light-shadow);
}
.person h4 {
  margin-bottom: 0.35rem;
}
.person p {
  margin-bottom: 0;
}
.container button {
  color: var(--clr-white);
  display: block;
  width: 100%;
  border-color: transparent;
  background: rgb(184, 72, 72);
  margin: 2rem auto 0 auto;
  text-transform: capitalize;
  font-size: 1.2rem;
  padding: 0.5rem 0;
  letter-spacing: var(--spacing);
  border-radius: var(--radius);
  outline: 1px solid rgba(242, 138, 178, 0.8);
  transition: 0.2s;
  cursor: pointer;
}

.container button:hover{
  transition: 0.2s;
  background: rgb(235, 38, 38);
}
